<!-- Footer -->
<footer id ="footer">
   <div class="inner">

              <section>
                <h2>Newsletter</h2>
                <form method="post" action="//siimplytech.us11.list-manage.com/subscribe/post?u=c28720fd0200ee7eef0e3e9ec&amp;id=91ec5b1f5e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form">
                  <div class="field half first">
                    <input type="text" name="FNAME" id="name" placeholder="Name" />
                  </div>
                  <div class="field half">
                    <input type="email" name="EMAIL" id="email" placeholder="Email" />
                  </div>
                  <ul class="actions">
                    <li><input type="submit" value="Subscribe!" class="special" /></li>
                  </ul>
                </form>
              </section>





<div class="social">
        <a class="fa fa-twitter" href="https://twitter.com/siimplytech"></a>
        <a class="fa fa-instagram" href="https://instagram.com/siimplytech"></a>
        <a class="fa fa-envelope" href="mailto:everything@siimplytech.com"></a>
</div>

     <ul class="copyright">
        <li>&copy; siimplytech.com all rights reserved.</li>
         <li>subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></li>
      </ul>
    </div>
</footer>
