<!-- Footer -->
<footer id ="footer">
   <div class="inner">


<div class="social">
        <a class="fa fa-twitter" href="https://twitter.com/siimplytech"></a>
        <a class="fa fa-instagram" href="https://instagram.com/siimplytech"></a>
        <a class="fa fa-envelope" href="mailto:everything@siimplytech.com"></a>
</div>

     <ul class="copyright">
        <li>&copy; siimplytech.com all rights reserved.</li>
         <li>subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></li>
      </ul>
    </div>
</footer>